@{
    ViewData["Title"] = "Home Page";
}

@model User

<style>
    .container{
        font-family: 'Gayathri', sans-serif;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <h1>Enter your information</h1> 
    </div>
    <form action="" method="POST">
        <div class="row">
            <div class="form-group col-sm-12">
                <span asp-validation-for="firstname"></span>
                <label asp-for="firstname">First Name:</label>
                <input asp-for="firstname" placeholder="Enter First Name" class="form-control"> 
            </div>
        </div>
        <div class="row">
           <div class="form-group col-sm-12">
                <span asp-validation-for="lastname">Last Name:</span>
                <input asp-for="lastname" placeholder="Enter Last Name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <span asp-validation-for="age">Age:</span>
                <input asp-for="lastname" placeholder="Enter Age" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <span asp-validation-for="email">Email Address:</span>
                <input asp-for="email" placeholder="Enter Age" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <span asp-validation-for="password">Password:</span>
                <input asp-for="password" placeholder="Enter Password" class="form-control">
            </div>
        </div>
       <input type="Submit" value="Submit" class="btn btn-primary"/>
    </form>
</div>



